.card-title {
    background-image: url("/assets/logo-instagram.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
}

hr {
    margin: 40px 0;
}

.hr-ou { 
    border: 0; 
    border-top: 1px solid;
    text-align: center;
    overflow: visible;
    padding: 0;
    height: 1px;
}
.hr-ou::after {
    content: "ou";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.3em;
    padding: 0 0.3em;
    background: white;
}
.img-facebook {
    background-image: url("/assets/social-icons/facebook.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 20px 20px 40px 60px;
    padding-left: 30px;
    cursor: pointer;
    color: #385185;
}